<h3>Buttons</h3>

<div class="row">
    <div class="large-6 columns">
        <p><a href="#" class="small button">Small Button</a></p>
        <p><a href="#" class="button">Medium Button</a></p>
        <p><a href="#" class="large button">Large Button</a></p>
    </div>
    <div class="large-6 columns">
        <p><a href="#" class="small alert button">Small Alert Button</a></p>
        <p><a href="#" class="success button">Medium Success Button</a></p>
        <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
    </div>
</div>